systemLog:
  destination: file
  path: "/var/log/mongodb/mongod-config.log"
  logAppend: true

net:
  port: {{ config_port }}
  bindIp: 0.0.0.0

storage:
  dbPath: /var/lib/mongodb/configdb

sharding:
  clusterRole: configsvr

replication:
   replSetName: "mongoc"
